:root,
[data-bs-theme=light] {
	--dropshadow-color: 22, 22, 22;
	--text-color: #212529;
	--bg-color: #fff;
}

[data-bs-theme=dark] {
	--dropshadow-color: 233, 233, 233;
	--text-color: #dee2e6;
	--bg-color: #212529;
}

@font-face {
	font-family: lora;
	src: url(/css/fonts/lora.woff2);
}

body {
	--bs-font-sans-serif: lora;
	--bs-body-font-family: var(--bs-font-sans-serif);
}
#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 6rem;
	/* Footer height */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6rem;
	/* Footer height */
}

.gallery {
	width: 45%;
	margin: 5px;
	border-radius: 5px;
}

.dropshadow {
	border-radius: 5px;
}

.dropshadow:hover {
	box-shadow: 0 0 11px rgba(var(--dropshadow-color), .5);
}

.link-button {
	background: none;
	border: none;
	width: 100%;
	text-align: left;
	padding: .25rem 1rem;
	color: var(--text-color);
}

.link-button:focus {
	outline: none;
}

.link-button:hover {
	color: #7d0dfd;
	background: var(--bg-color);
}

.link-button:active {
	color: #7d0dfd;
	background: var(--bg-color);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7d0dfd;
  --bs-btn-border-color: #7d3efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7d5ed7;
  --bs-btn-hover-border-color: #7d58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7d58ca;
  --bs-btn-active-border-color: #7d53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7d6efd;
  --bs-btn-disabled-border-color: #7d6efd;
}

.nav-link:hover{
	color: #7d0dfd;
}

.navbar-brand:hover{
  color: #7d0dfd;
}

.thinborder{
	--bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-overlay {
	position: absolute; 
	bottom: .5rem; 
	right: .5rem; 
	margin-left: 30%; 
	padding: .5rem; 
	border-radius: .5rem; 
	text-align:right; 
	background-color: rgba(var(--bs-tertiary-bg-rgb), .8);
}

@media screen and (min-width: 551px) {
	.card-overlay {
			font-size: 1.0em;
	}
}

@media screen and (max-width: 550px) {
	.card-overlay {
		font-size: .9em;
	}
}

@media screen and (min-width: 1000px) {
	.card-overlay {
		font-size: 1.15	em;
	}
}

@media screen and (min-width: 1400px) {
	.card-overlay {
		font-size: 1.25em;
	}
}